<div class="container">
        <h1 class="titulo" >Sistema de citas <span>medicas</span></h1>
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. repudiandae beatae nam odio voluptates iusto nihil natus harum optio amet asperiores earum eveniet quasi, vero eaque. Lorem ipsum dolor sit, amet consectetur adipisicing.
        </p>
        <button>Get Starded</button>

</div>
<div class="imagen">
        <img class="img1" src="../../../assets/img/corazon.png" alt="medicina-doctor-salud">
        <img class="img2" src="../../../assets/img/doctor.png" alt="">
</div>
<!-- <h1>{{now|date:'hh:mm:ss'}}</h1> -->
